<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Aula08_02042024/src/revisao5/Execucao.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="revisao5.Execucao"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Aula08_02042024"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Aula08_02042024"/>
</launchConfiguration>
